# Automatic backups and logs.
*.jou
*.log
*.str

# These contain temporary compilation data and huge bitstreams.
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.data/
*.xrf/
*.hbs/


# User-specific settings
.Xil/
vivado*.backup.jou
vivado*.backup.log

# Simulation and SDK files
*.mem
*.elf
*.coe